.form-modal{
    padding: 2% 5%;
    position: absolute;
    height: 90vh;
    width: 50vw;
    background-color: var(--green);
    color: white;
    border-radius: 2%;
    box-shadow: 5px 5px 8px 1px rgba(0,0,0,0.5);
}

.form-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-close{
    cursor: pointer;
}

.input-box{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.input-box input{
    width: 100%;
    height: 2rem;
    background-color: white;
    color: var(--black-light);
    font-size: 0.9rem;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 6px;  
}

.flex-productPrice{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    
}

.input-box-cifrao {
    width: 8%;
    height: 2.1rem;
    background-color: rgb(233, 236, 239);
    color: black;
    font-size: 0.9rem;
    line-height: 2.1rem;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 6px 0px 0px 6px;
}

input#productPrice {
    width: 92%;
    height: 2rem;
    background-color: white;
    color: var(--black-light);
    font-size: 0.9rem;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 0px 5px 5px 0px;
    
}

select#productCategory {
    width: 40%;
    height: 2.1rem;
    color: rgba(0, 0, 0, 0.992);
    font-size: 0.9rem;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 6px;
    padding: 0.4rem 0px;
}

.post-button button {
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    color: var(--green-hover);
    cursor: pointer;
    margin: 15px 0px 0px;
    padding: 1.5%;
    border-radius: 5px;
    border: none;
}

