.product{
    background-color: white;
    height: 450px;
    width: 340px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}

.buttons-crud {
    margin: 10px;
    display: flex;
    justify-content: flex-end;
}

svg.svg-inline--fa.fa-trash-can {
    margin-right: 10px;
}

svg.svg-inline--fa.fa-trash-can:hover,
svg.svg-inline--fa.fa-pen:hover {
    color: #004C3F;
}

.product:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: 300ms;
}

.product-img{
    place-self: center;
}

.product img{
    height: 254px;
    width: 254px; 
    object-fit: contain;
}

.line{
    width: 100%;
    height: 1px;
    background-color: rgba(0, 76, 63, 0.56);
}

.product-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
    font-weight: bold;
    color: black;
}

.product-price{
    font-size: 2rem;
}

.product-price sup{
    font-size: 1.3rem;
}

.product-price p{
    margin: 0;
}

.product-name{
    font-size: 1rem;
    margin: 0;
}